* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'NotoSansKR', sans-serif;
  background-color: #eff3f7;
  height: 100%;
}

/* web font */

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/NotoSansKR-Regular.woff2') format('woff2'),
    url('./fonts/NotoSansKR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/NotoSansKR-Medium.woff2') format('woff2'),
    url('./fonts/NotoSansKR-Medium.woff') format('woff');
}
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/NotoSansKR-Bold.woff2') format('woff2'),
    url('./fonts/NotoSansKR-Bold.woff') format('woff');
}

@font-face {
  font-family: 'SpoqaHan-Regular';
  font-style: normal;
  src: url('./fonts/SpoqaHan-Regular.woff') format('woff'),
    url('./fonts/SpoqaHan-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'SpoqaHan-Bold';
  font-style: normal;
  src: url('./fonts/SpoqaHan-Bold.woff') format('woff'),
    url('./fonts/SpoqaHan-Bold.woff2') format('woff2');
}

.txt_blue {
  color: #12a6be !important;
}
.txt_red {
  color: #e0205c !important;
}
* {
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
  display: none;
}
